body {
    font-family: tahoma, sans-serif;
    font-size: 17px;
    line-height: 30px;
    background: AntiqueWhite;
}

.info p {
    font-style: italic;
    color: LightSlateGrey;
}
.card {
    border-radius: 20px;
    padding: 15px;
}
.brr {
    background: #ffe5e5;
    margin: 10px;
}
.brg {
    background: #e5ffe7;
    margin-top: 30px;
}
.avatar {
    width: 200px;
    border: 3px solid #000000 ;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.container {
margin: 30px;
padding-top: 5dvh;
/* text-align: center; */
}
.communication {
    margin: 15px;
}
.btn {
    background: #111;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
}
.btn:hover {
    opacity: 0.9;
    background-color: rgb(68, 65, 63);
    color: black;
}
.btn:active {
    color: black;
    background-color: brown;
}
.link {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 255);
    font-size: 23px;
    margin-left: 10px;
}
.link:hover {
    opacity: 0.9;
    color: black;
}
.link:active {
    color: black;
    background-color: brown;
}
.navbar {
    background-color: lightcoral;
    margin-right: 800px;
    border-radius: 15px;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar ul li {
    margin: 0px 80px;
    padding: 10px 0px;
    border-radius: 5px;
}
.navbar ul li a {
    text-decoration: none;
    color: #111;
    font-family: inherit;
    font-size: 27px;
    font-weight: bold;
    padding: 10px 10px;
}
.navbar ul li:hover {
    background: #ea6767;
    color: rgb(224, 196, 196); 
}
.navbar ul li a:hover {
    color: rgb(224, 196, 196); 
}   
.navbar ul li a:active {
    color: brown;
}
.st {
    padding: 3px 8px;
}
.table td:nth-child(1) {
    color: #505155;
}
.table td:nth-child(2) {
    color: #505155;
}
.table td:nth-child(3) {
    color: #505155;
}
@media (max-width: 1300px) {
    .navbar {
        width: 100%;
    }
}
@media (max-width: 650px) {
    .navbar {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .navbar {
        width: 100%;
        padding-right: 100px;
    }
}
